<div class="container">
<h1>An Angular 5 goals app</h1>
<p>This is a simple Angular 5 app created for practice. Following the guide from coursetro.com, I learned about the new advantages of Angular 5 and how it carries over many similarities from Angular 2.</p>
<p>I learned about any differences for Angular 5:</p>
<ul>
  <li>Components</li>
  <li>Interpolation</li>
  <li>Property, Event, and Two-Way Data Binding</li>
  <li>New Animation Guidelines</li>
  <li>Routing</li>
</ul>

<p>I plan to continue gaining more experience with Angular 5. My portfolio site is <a href="http://www.designbysite.com" target="blank">www.designbysite.com</a></p>
</div>